
<h5>Examples Pipes</h5>

<p>Title: {{ book.title | uppercase | lowercase | camelCase }}</p>
<p>Stars: {{ book.rating | number:'1.1-1' }}</p>
<p>Pages: {{ book.totalPages | number }}</p>
<p>Price: {{ book.price | currency:'BRL':true }}</p>
<p>Publication Date: {{ book.publicationDate | date }}</p>
<p>Url: {{ book.url }}</p>
<br>
<p>Book: {{ book | json }}</p>

<input type="text" [(ngModel)]="filter">

<br>

<input type="text" #newBook>
<button (click)="addBook(newBook.value)">Add Book</button>

<h5>Pure Pipe</h5>

<ul>
  <li *ngFor="let bookItem of books | filterArray:filter">
    {{ bookItem }}
  </li>
</ul>


<h5>Impure Pipe</h5>

<ul>
  <li *ngFor="let bookItem of books | filterArrayImpure:filter">
    {{ bookItem }}
  </li>
</ul>



<h5>Correct way</h5>

<ul>
  <li *ngFor="let bookItem of getBooks()">
    {{ bookItem }}
  </li>
</ul>



