
<!-- <app-directive-ngif></app-directive-ngif> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directive-ngclass></app-directive-ngclass> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-elvis-operator></app-elvis-operator> -->

<!-- <app-example-ng-content>
  Content passed to the component
  <app-elvis-operator></app-elvis-operator>
</app-example-ng-content> -->
<!--
<app-example-ng-content>
  Content passed to the component
</app-example-ng-content> -->

<!--
<app-example-ng-content>
  <div class="title">Panel Title</div>
  <div class="body">
   Content passed to the component
  </div>
  <div class="body">
   Content passed to the component 2
  </div>
</app-example-ng-content> -->


<app-customized-directives></app-customized-directives>


