
<!-- <section class="property-binding"> -->

  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }} </p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue()}}</p>
    <p>Curso de Angular e gosto do curso: {{angularCourse && isLikedCourse()}} </p>
  </article>

  <article>
    <h3>Property biding</h3>

    <img src="{{ imageUrl }}"/>

    <img [src]="imageUrl"/>

    <img bind-src="imageUrl"/>
  </article> -->

  <!-- <article>
    <h3>Class and Style Binding</h3>
    <div>
      Select a class:
      <select #selectedClass (change)="0">
        <option value="alert-success">Sucess</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Warning</option>
        <option value="alert-danger">Danger</option>
      </select>
      <br><br>


      <div class="alert {{ selectedClass.value }}" role="alert">
        Colored text by the value from combobox.
      </div>

      <div class="alert" role="alert"
        [class.alert-success]="selectedClass.value == 'alert-success'">
        Sucess
      </div>

      <div class="alert" role="alert"
        [class.alert-info]="selectedClass.value == 'alert-info'">
        Info
      </div>

      <div class="alert" role="alert"
        [class.alert-warning]="selectedClass.value == 'alert-warning'">
        Warning
      </div>

      <div class="alert" role="alert"
        [class.alert-danger]="selectedClass.value == 'alert-danger'">
        Error
      </div>

      <div class="alert alert-danger" role="alert"
        [style.display]="selectedClass.value == 'alert-danger' ? 'block' : 'none'">
        Error: This message should only be visible on failure.
      </div>

    </div>

  </article> -->

<!-- </section> -->



<!-- <section class="event-binding">

  <article>
    <h3>Event Binding</h3>
    <div>
      <button (click)="onButtonClick()"
      class="btn btn-primary">
        Click me!
      </button>

      <br><br>

      <input type="text"
        #inputField
        (keyup)="onKeyUp($event)"
        (keyup.enter)="saveValue(inputField.value)"
        (blur)="saveValue(inputField.value)"
      />

      <p>Current value: {{ currentKeyEntered }}</p>
      <p>Saved value: {{ savedValue }}</p>

      <br><br>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        Hover your mouse over me
      </span>

    </div>
  </article>

</section> -->

<!-- <app-my-form></app-my-form> -->


<section class="input-output-properties">

  <article>

    <h3>Input/Output Properties</h3>

    <!-- <app-input-property [courseName]="courseName"></app-input-property> -->
    <app-input-property [name]="courseName"></app-input-property>


    <app-counter [value]="initialValue"
      (changeOfValue)="onChangeOfValue($event)"
    ></app-counter>


  </article>

</section>


