
<section class="property-binding">

  <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }} </p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValue()}}</p>
    <p>Curso de Angular e gosto do curso: {{angularCourse && isLikedCourse()}} </p>
  </article>

  <article>
    <h3>Property biding</h3>

    <img src="{{ imageUrl }}"/>

    <img [src]="imageUrl"/>

    <img bind-src="imageUrl"/>
  </article>

</section>

